* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}


body {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: solid 0.5px rgb(4, 4, 4);
}

#blocPrincipal {
    width: 100%;
    max-width: 2000px;
}

.ecran {
    height: 100vh;
    width: 100%;
    display: flex;
    border-radius: 10%;
    flex-direction: column;
}

section {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 25vh;
    background-color: silver;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 100px;

}

/* menu navigation */
.photo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
}

.photo img {
    width: 90px;
    border: 0px solid;
    border-radius: 50%;

}

h2 {
    text-align: center;
    align-items: center;
    flex: content;
    justify-content: center;
    display: flex;

}



h3 {

    text-align: center;
    align-items: center;
    flex: content;

}

P {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* -------------------------------------------------------- ecran 1 ------------------------------------------------ */
.ecran1 {
    display: flex;
    justify-content: center;
    align-items: center;

    align-content: center;
    width: 100%;
    background-color: #8f89899b;

    background-color: silver;
}

.ecran1 .savoir {
    width: 100%;
    background-color: silver;
    border-radius: 100px;
}

/* -------------------------------------- ecran 2-------------------------------------------- */
.ecran2 {
    width: 100%;
    background-color: silver;
    display: flex;

    justify-content: center;

    align-content: center;
}

.ecran2 img {
    width: 150px;
    height: auto;
}

/* -------------------------------------- ecran 3-----------------------------------------------*/
.ecran3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: silver;
    margin: 2px;
    justify-content: flex-start;

}

.h3W {
    margin: 0;
    font-size: 100px;
    color: #f7f8f8;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
        0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
        0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);

}

.ecran3 .contained {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 0%;


}

.ecran3 .contained .container {
    display: flex;
    flex-direction: column;
    background-color: silver;
    border-radius: 50%;
    padding: 0 13%;
    margin: 60px 0;
}

.ecran3 .contained .container .top {
    display: flex;

}

.ecran3 .contained .container .top h3 {

    font-size: 2rem;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ ecran 4-----------------------------------------------*/
.ecran4 {
    width: 100%;
    background-color: silver;
    border-radius: 0%;
}

.ecran4 .contained .container .top h3 {
    font-size: 2rem;
    text-transform: uppercase;

}

.ecran4 .contained .container .top {
    display: flex;

}

.ecran4 .contained .container {
    display: flex;
    flex-direction: column;
    background-color: silver;
    border-radius: 50%;
    padding: 0 13%;
    margin: 60px 0;
}



/* ------------------------------------------------------------- ecran 5------------------------------------------*/
.ecran5 {
    width: 100%;
    background-color: silver;
    flex-direction: column;
    justify-content: space-around;

}

/*  ----------------------------------------------------------------ecran 6--------------------------------------*/
.ecran6 {
    width: 100%;
    background-color: #8f89899b;
}

/* -------------------------------------------------------------- ecran 7 -------------------------------------*/

.ecran7 {
    width: 100%;
    background-color: #8f89899b;

}

.ecran7 img {
    display: flex;
    width: 150px;
    height: 150px;
}

/* ------------------------------------------------------------ecran 8------------------------------------------*/
.ecran8 img {
    position: absolute;
    width: 750px;
}

.ecran8 {
    width: 100%;
    background: linear-gradient(to right, #000 0% , #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* -------------------------------------------------- Ajout pour formulaire ------------------------------------ */
.contain-tout {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-container {
    width: 50%;
    height: 100%;
}

#contact-form {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
}

#contact-form div {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

#contact-form div::before {
    font-family: FontAwesome;
    z-index: 2;
    width: 20px;
    color: #cccccc;
    text-align: left;
    position: absolute;
    left: 0;
    top: 10px;
}

#contact-form div:nth-child(1):before {
    content: '\f007';
}

#contact-form div:nth-child(2):before {
    content: '\f0e0';
}

#contact-form div:nth-child(3):before {
    content: '\f3cd';
}

#contact-form div:nth-child(4) {
    height: 100px;
}

#contact-form div:nth-child(4):before {
    content: '\f075';
    top: 0;
}

input,
textarea {
    width: 70%;
    padding: 10px 10px 10px 10px;
    border: 0;
    border-bottom: 2px solid #dddddd;
    background-color: transparent;
}

label {
    display: inline-block;
    width: 22%;
    padding-left: 30px;
    color: #cccccc;
    margin-right: 10px;
}

#message {
    position: absolute;
}

input {
    height: 40px;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #01109b;
    outline: none;
}


/* Voici les règles de mise en forme pour les champs invalides */
input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

/* Voici les règles utilisées pour les messages d'erreur */
.contain-tout {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-container {
    width: 50%;
    height: 100%;
}

#contact-form {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
}

#contact-form div {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

#contact-form div::before {
    font-family: FontAwesome;
    z-index: 2;
    width: 20px;
    color: #cccccc;
    text-align: left;
    position: absolute;
    left: 0;
    top: 10px;
}

#contact-form div:nth-child(1):before {
    content: '\f007';
}

#contact-form div:nth-child(2):before {
    content: '\f0e0';
}

#contact-form div:nth-child(3):before {
    content: '\f3cd';
}

#contact-form div:nth-child(4) {
    height: 100px;
}

#contact-form div:nth-child(4):before {
    content: '\f075';
    top: 0;
}

input,
textarea {
    width: 70%;
    padding: 10px 10px 10px 10px;
    border: 0;
    border-bottom: 2px solid #dddddd;
    background-color: transparent;
}

label {
    display: inline-block;
    width: 22%;
    padding-left: 30px;
    color: #cccccc;
    margin-right: 10px;
}

#message {
    position: absolute;
}

input {
    height: 40px;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #01109b;
    outline: none;
}


/* Voici les règles de mise en forme pour les champs invalides */
input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

/* Voici les règles utilisées pour les messages d'erreur */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

/* fin traitement des erreurs*/

textarea {
    height: 100px;
    resize: none;
}

::placeholder {
    font-style: italic;
}

.btn {
    width: 100%;
    padding: 0;
    background: transparent;
    border: 1px solid #dddddd;
    transition: 1s;
    border-radius: 10px;
    margin-top: 10px;
}

.btn:hover {
    border: 1px solid #01109b;
    background: #01109b;
    color: #dddddd;
}

/* Cadre pour message d'envoi */
#result-form {
    height: 100px;
    width: 400px;
    margin: 60px auto;
    text-align: center;
    padding: 30px 20px 30px 20px;
}

.form-image {
    width: 50%;
    height: 100%;
    position: relative;
    padding: 50px;
}

.form-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    width: 80%;
    height: auto;
}

/* fin traitement des erreurs*/

textarea {
    height: 100px;
    resize: none;
}

::placeholder {
    font-style: italic;
}

.btn {
    width: 100%;
    padding: 0;
    background: transparent;
    border: 1px solid #dddddd;
    transition: 1s;
    border-radius: 10px;
    margin-top: 10px;
}

.btn:hover {
    border: 1px solid #01109b;
    background: #01109b;
    color: #f2eded;
}

/* Cadre pour message d'envoi */
#result-form {
    height: 100px;
    width: 400px;
    margin: 60px auto;
    text-align: center;
    padding: 30px 20px 30px 20px;
}

.form-image {
    width: 50%;
    height: 100%;
    position: relative;
    padding: 50px;
}

.form-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    width: 80%;
    height: auto;
}

/* Fin ajout pour forumlaire */




/* navbar */

nav {
    height: 100px;
    width: 100%;

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    list-style: none;
}

li {
    margin: 0 10px;
}

h3 {
    margin: 0;
    font-size: 100px;
    color: rgb(216, 13, 13);
    text-shadow: 0 1px 0 #32312b, 0 2px 0 #32312b, 0 3px 0 #32312b,
        0 4px 0 #32312b, 0 5px 0 #32312b, 0 6px 0 #32312b, 0 7px 0 #32312b,
        0 8px 0 #32312b, 0 9px 0 #32312b, 0 50px 30px rgba(0, 0, 0, 0.572);
}

.white {
    margin: 0;
    font-size: 100px;
    color: #f7f8f8;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
        0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
        0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}

.black {
    margin: 0;
    font-size: 100px;
    color: #424139;
    text-shadow: 0 1px 0 #32312b, 0 2px 0 #32312b, 0 3px 0 #32312b,
        0 4px 0 #32312b, 0 5px 0 #32312b, 0 6px 0 #32312b, 0 7px 0 #32312b,
        0 8px 0 #32312b, 0 9px 0 #32312b, 0 50px 30px rgba(0, 0, 0, 0.8);
}

.red {
    margin: 0;
    font-size: 100px;
    color: #d83b0d;
    text-shadow: 0 1px 0 #ae3214, 0 2px 0 #ae3214, 0 3px 0 #ae3214,
        0 4px 0 #ae3214, 0 5px 0 #ae3214, 0 6px 0 #ae3214, 0 7px 0 #ae3214,
        0 8px 0 #ae3214, 0 9px 0 #ae3214, 0 50px 30px rgba(106, 29, 6, 0.7);
}


.checkbtn {
    font-size: 30px;
    color: rgb(18, 15, 15);
    float: right;
    line-height: 80px;
    margin: 20px 40px auto 0;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:952px) {
    label.logo {
        font-size: 40px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width:858px) {
    .checkbtn {
        display: block;
        text-align: right;
    }


    nav {
        padding: 0 20px;
    }

    label.logo {
        width: 90%;
        text-align: center;
    }

    nav ul {
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        width: 100%;
        margin: 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: black;
    }

    #check:checked~ul {
        left: 0;
    }

    .photo {
        display: none;
    }
}